.ais-ClearRefinements { margin: 1em 0; }

.ais-SearchBox { margin-top: 1em;}

.ais-Pagination { margin-top: 1em; }

#searchbox { max-width: 1080px; margin: 0 auto;}

.ais-InstantSearch { max-width: 1080px; overflow: hidden; margin: 0 auto; }

.ais-Hits-item { margin-bottom: 1em; width: calc(100% - 1rem); }

.ais-Hits-item img { margin-right: 1em;}

.hit-name { margin-bottom: 0.5em; }

.hit-description { color: #888; font-size: 14px; margin-bottom: 0.5em; }

/* ADDED BY ME */
#hit-image {text-align: center; }

.ais-Hits-item img { margin-bottom: 1em;}

.ais-Hits-item img { max-height: 10em;}

#searchbox input {
    font-size: 21px;
  }

.ais-PoweredBy svg {
    height: 28px;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: #343a40;
  border-color: #343a40;
}
.ais-Pagination-link {
  color: #343a40;
  border-color: #343a40;
}

.ais-Pagination-link:hover {
  color: #343a40;
  border-color: #343a40;

}
.ais-Pagination-item--disabled {
  display: none;
}

.ais-Stats-text { color: #888; font-size: 14px;}

.ais-SearchBox-submitIcon { width: 17px; height: 17px;}
.ais-SearchBox-submit {left: 0.5rem;}
.ais-SearchBox-resetIcon { width: 15px; height: 15px;}
.ais-SearchBox-reset { right: 0.5rem;}

.ais-SearchBox-input { padding: .3rem 2.1rem;}