body, h1 {
  margin: 0;
  padding: 0;
}


footer {
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 3em;
  padding-top: 3em;
}

main {
  max-width: 1080px;
  margin: 0 auto;

}

#info {
  margin-bottom: 19px;
  margin-top: 14px;
}